table{
    border: 4px solid hotpink;
    border-collapse: collapse;
   
}

td{
    border: 1px solid hotpink;


}

tr{
   
}
th{
    border: 3px solid hotpink;
}
div{
    display: flex;
    justify-content: center;
   word-spacing: 8.5px;
   background-color: mediumaquamarine;
   width: 400px;
   margin: 0 auto;
   margin-top: 25px;
   align-items: center;
  
}

h1{

    text-align: center;
    font-size: 28px;
    text-decoration: underline;
}